body{
    background-color: #000;
}
.navbar{
    display: flex;
    justify-content: space-between;
    background: rgb(22, 22, 22);
    color: #fff;
    padding: 1.5rem 8rem;
    position: sticky;
    top: 0;
}
.section{
    display: flex;
    align-items:center;
    list-style: none;
    color: #fff;
}
.section li a {
    text-decoration: none;
    color: #fff;
    padding: 0.5rem;
}
.Contect{   
    color: #fff;
    padding-top: 10rem;
    padding-left: 10rem;
}
#p-about-me{
    color: #fff;
    text-align: center;
    padding-top: 3rem;
}
#p-my-skill-1{
    color: #fff;
    text-align: center;
    padding-top: 2rem;
}
#p-my-skill-2{
    color: #fff;
    text-align: center;
    padding-top: 2rem;
}
#p-my-skill-3{
    color: #fff;
    text-align: center;
    padding-top: 2rem;
}
#p-my-skill-4{
    color: #fff;
    text-align: center;
    padding-top: 2rem;
}
#p-my-skill-5{
    color: #fff;
    text-align: center;
    padding-top: 2rem;
}
